<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower -->
    <!--inject:css-->
    <!--endinject-->
  </head>
  <body ng-controller='mainCtrl'>

      <div class="">

      </div>

      <!--bower:js-->
      <script src="/lib/jquery/dist/jquery.js"></script>
      <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
      <!--endbower -->
      <!--inject:js-->
      <script src="/js/custom-slider.js"></script>
      <!--endinject-->
  </body>
</html>
